.cell {
  background-color: transparent;
  width: 20px;
  height: 20px;
  text-align: center;
  margin: 5%;
  border: 30%;
  padding: 10px;
  border: 3px solid #11353b;
  border-collapse: collapse;
  color:#223241;
}
.menual{
  border-radius: 20px;
  font-family: Impact, fantasy;
  color: #223241;
  text-align: center;
  font-size: 1rem;
  border-radius: 100;
}

.showen{
  background-color: #7b8a86;
}

body {
  font-family: Impact, fantasy;
  text-align: center;
  background: radial-gradient(
        1.5em 6.28571em at 1.95em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      0 0,
    radial-gradient(
        1.5em 6.28571em at -0.45em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      1.5em 5.5em,
    radial-gradient(
        2.3em 4.57143em at 2.99em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0.3) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      0 0,
    radial-gradient(
        2.3em 4.57143em at -0.69em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0.3) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      2.3em 4em,
    radial-gradient(
        3.5em 6.28571em at 4.55em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      0 0,
    radial-gradient(
        3.5em 6.28571em at -1.05em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      3.5em 5.5em,
    radial-gradient(#15ffa5, #00ced1);
  background-color: mediumspringgreen;
  background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em,
    3.5em 11em, 100% 100%;
  background-repeat: repeat;
}
.undo{
  font-size: 1.5rem;
}

table {
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-family: Impact, fantasy;
  font-weight: 2000;
  font-size: 5rem;
  margin-bottom: 0px;
  color: #223241;
  margin-top: 2%;
  text-shadow: 0px 3px 0px #3d768a;
}

.level {
  text-align: center;
  display: block;
  font-family: Impact, fantasy;
  color: #223241;
  font-weight: 100;
}

button {
  font-family: Impact, fantasy;
  box-shadow: 0px 10px 14px -7px #276873;
  background-color: transparent;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #223241;
  font-weight: 0px;
  font-size: 15px;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  margin-left: 1%;
}

button:active {
  position: relative;
  top: 1px;
}

.smiley {
  margin-top: 1%;
}

.data {
  display: none;
}


.data button :active {
  position: relative;
  top: 1px;
}


h2{
  margin-top: 5%;
}

.footer{
  color: #223241;
}

.data-down{
  display:none;
  text-align: center;
  margin-top: 0%;
  position: relative;

}

.safe-click { 
  font-family: cursive;
  background-color: #b4dbcf;
  font-size: 13px;
 }
 
.board-container{
  margin-bottom: 0%;
}

.safe{
  background-color: #d692c2;
}